:root {
    --main-color: #F2E9D8;
    --basic-color: #FFFFFF;
    --point-color: #D97652;
    --text-color: #000000;
    --subscript-color: #263140;
}

body {
    background-color: var(--basic-color);
}

.container {
    max-width: 1280px; 
    width: 100%;       
    margin: 0 auto;   
    padding: 0 20px;  
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px auto;
    background-color: var(--main-color);
}

.logo a {
    font-size: 2rem;
    font-weight: bold;
    color: var(--subscript-color);
    text-decoration: none;
}
.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
}

nav ul li:last-child {
    margin-left: 40px;
}

.btn {
    padding: 10px 20px;
    background-color: var(--point-color);
    color: var(--basic-color);
    border: none;
    border-radius: 40px;
    text-decoration: none;
}

.hero-section  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    
}

.hero-section .text-box {
    display: row;
    flex-direction: column;
    max-width: 734px;
    margin-right: 50px;
}

.hero-section .img-box {
    width: 500px;
    height: 400px;
    background-image: url('../images/img_cat_png.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:110px
}

.main-section .main-intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 110px;
}


.main-intro .img-box {
    width: 660px;
    height: 390px;
    background-image: url('../images/img_4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-intro .text-box {
    max-width: 600px;
    text-align: center;
}

.main-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.main-gallery .text-box {
    text-align: center;
    /* max-width: 600px; */
    gap:36px;
}

.main-gallery .text-box2 h4 {
    color: var(--point-color);
}

.main-gallery .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 73px;
}

.main-gallery .img-box {
    width: 378px;
    height: 378px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
}

.img1 {
    background-image: url('../images/img_1.png');
}

.img2 {
    background-image: url('../images/img_2.png');
}

.img3 {
    background-image: url('../images/img_3.png');
}

.text-box3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main-subscribe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding : 50px 60px;
    background-color: var(--subscript-color);
    border-radius: 30px;
    width: 100%;
    gap: 60px
   
}

.main-subscribe .text-box4 {
    color: var(--basic-color);
    max-width: 500px;
    margin-right: 100px;
}

.main-subscribe .main-text {
    font-size: 36px;
}

.main-subscribe .input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--basic-color);
    border-radius:60px;
    width: 400px;
    gap: 10px;
}

.main-subscribe .input-box input {
    border: none;
    background: none;
    outline: none;
    padding: 16px 20px;
    width: 200px;
    font-size: 16px;
}

.main-subscribe .input-box button {
    border: none;
    background: none;
    background-color: var(--point-color);
    outline: none;
    border-radius: 60px;
    margin: 5px;
    color: var(--basic-color);
        width: 200px;
    font-size: 16px;
}